<!DOCTYPE html>
<html>
	<head>
		<title>Bye!</title>

        <link rel = "stylesheet" href = "end.css">

    </head>

  	<body>

		<img src = "../img/end.png" width = "650px" height = "400px"><br>

		<body style = "text-align : center;">

			<p> <strong> DO you want to play game again?<br></strong></p>
			
			<a href = "/start"><strong>Click me</strong></a>

	</body>

</html>
